.nfts {
  .nft-sub-eading {
    padding: 40px 0;
    text-align: center;
    h2 {
      font-size: 60px;
      font-weight: 600;
    }
    p {
      max-width: 800px;
      margin: 0 auto;
      font-weight: 300;
      font-size: 22px;
    }
  }

  .nft-list {
    display: flex;
    .nft-item {
      cursor: pointer;
      .nft-img {
        width: 100%;
        aspect-ratio: 1;
        background-color: #1f1f1f;
      }
      label {
        margin-top: 10px;
      }
    }

  }

  .load-more {
    text-align: center;
    margin: 20px 0;
    button {
      padding: 15px 20px;
      width: 100%;
      border-radius: 5px;
      background: #2b2a38;
      color: #fff;
      &:hover {
        background: #3d3b4f;
      }
    }
  }
}