.signin {
  .sign-text {
    text-align: center;
    h2 {
      font-size: 45px;
      margin-bottom: 0;
    }
    p {
      font-size: 16px;
      margin-top: 0;
    }
    margin-bottom: 40px;
  }
  .meta-sign {
    text-align: center;
    .meta-button {
      display: inline-flex;
      gap: 10px;
      padding: 10px 20px;
      border-radius: 100px;
      align-items: center;
      background: #d6516f;
      cursor: pointer;
      transition: background 0.3s ease;
      img {
        height: 40px;
      }
      &:hover {
        background: #be4c67;
      }
    }
  }
}