@import '../components/navbar';
@import '../components/user';
@import '../components/signin';
@import '../components/nfts';
@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
body {
  background: #141414 !important;
  color: rgb(217, 217, 217) !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  // font-family: 'Roboto', sans-serif !important;
}
.container {
  margin: 0 auto;
}
dl,
ol,
ul {
  margin: 0;
  padding: 0;
}